In [29]:
import pandas as pd

In [30]:
csv = pd.read_csv('../data/test_labels.csv')
csv.head(5)

               Image  Word
0  n02-154-04-05.png  that
1  m04-093-02-01.png    it
2  p03-135-03-07.png   his
3  n04-044-01-08.png  been
4  p02-022-07-07.png   the

In [31]:
amount_of_chars = 20

# Initialize a pandas DataFrame with columns Image and char_1 to char_amount_of_chars, which is currently 20.
df = pd.DataFrame(columns=['Image'] + [f"char_{i}" for i in range(1, amount_of_chars+2)])

# Define the mapping from characters to numbers
char_mapping = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

# Iterate over each row in the input DataFrame csv
for index, row in csv.iterrows():
    # Extract the image and word columns
    image = row['Image']
    word = row['Word']

    # Map each character in the word to a number, or None if not in the mapping
    chars = [char_mapping[char] if char in char_mapping else None for char in word]

    # Skip this row if any characters are not in the mapping (i.e., are None)
    if None in chars:
        continue

    # Pad the characters list with zeros until it has length amount_of_chars+1, which is currently 20+1
    chars += [0] * (amount_of_chars+1 - len(chars))

    # Add the image and characters to the new DataFrame as a new row
    df = df.append({'Image': image, **{f"char_{i}": char for i, char in enumerate(chars, 1)}}, ignore_index=True)

In [32]:
df.head(5)

,Image,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,...,char_12,char_13,char_14,char_15,char_16,char_17,char_18,char_19,char_20,char_21
0,n02-154-04-05.png,20,8,1,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,m04-093-02-01.png,9,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,p03-135-03-07.png,8,9,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,n04-044-01-08.png,2,5,5,14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,p02-022-07-07.png,20,8,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df.to_csv('../data/alt_test_labels.csv', index=False)